* {margin: 0;padding: 0;}



hr {
	border: 2px solid #369;
}

#logo {
	box-shadow: 2px 5px 4px #369;
	width: 200px;
	margin: 5px auto;
}

.product-table{
	border: 1px solid #000;
	width: 100%;
}

.app-dive, .app-dive1 {
	font: italic small-caps bold 20px Georgia, serif ;
}

.app-dive{
	margin: 10px 20px;
	padding: 20px;
	
	visibility: hidden;

	
	border: 1px solid red;
	height: 200px;
	width: 400px;
}

.app-dive1{
	margin: 10px 20px;
	padding: 20px;
	
	border: 1px solid red;
	height: 200px;
	width: 200px;
}

.nav-bar{
	margin: 10px 20px;
	background: #369;
	color: #fff;
}

.nav-bar li {
	display: inline-block;
	list-style-type: none;
	margin: 5px;
	padding: 10px;
}

.nav-bar li:hover {
	background: #fff;
	color: #369;
	cursor: pointer;
}

.nav-bar li.active {
	background: #fff;
	color: #369;
	cursor: pointer;
}

.dp:hover .app-dive {
	display: block;
}
.app-para {
	min-height: 200px;
	width: 200px;
	border: 1px solid green;
}

.clear{
	clear: both;
}

.app-textarea{
	border: 1px solid blue;
	
}


.child-dive {
	
}


/*
div {
	border : 1px solid red;
}

marquee {
	background: red;
}

.contact {
	background: green;
	color: #fff;
}
*/

/*  
	this is a comment 
	Author: Eze Geremi Matthew
	Description: Geremi the man that is MAD!
*/


/*
	Day 1
		Session 1

	Topic: Intro To Css

	1. What CSS
	2. What can be use for 
	3. Syntax: General Syntax for CSS 
		selector {
			declaration (s) ;
			property : value (s) ;
		}
	4. Include css into your HTML file
		3 ways to include css into your file 
			1. inline
				pass the css as attr to element 
			2. Internal 
				use the style tag
					can be placed anywher with the page
					Note: always us head
			3. External
				Create a css file 
				link the file to the HTML page 
					using the link tag to refer

				place the link anywhere with the file
				 Note: always use the head.

			NOTE: always use External
	5.  Comments in CSS 3
		we comment using 
		/* This is a comment  */
*/

/*
	Day 1 
		Session 2

	Topic: Selectors 

	1. what is CSS Selectors: used to select the HTML element that you want to style

	CSS selectors can be divided into 5 categories
	1. Simple Selector (select Element based on name, id, class)
	2. Combinator Selector (Select element based on a specific relationship between them)
	3. Pseudo-class selectors (select element based on a certain state)
	4. Pseudo-element selectors (Select or style part of an element )
	5. Attribute selectors (Select elements based on an attribute or attr value)
*/

/*Simple Selectors: name, id, class */


/*
	Select all the div element and apply the declaration it them
*/


